{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">
  <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
<main>
  {% block main %}{% endblock %}
</main>
<py-config>
{
    "interpreter": "0.24.1",
    "files": {
        "{% static 'cardroom/felt.py' %}": "./cardroom/felt.py"
    },
    "packages": ["pokerkit"]
}
</py-config>
{% block scripts %}{% endblock %}
</body>
</html>
